@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins&display=swap');
body {
	/* text-align: center; */
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0 15% 0 15%;
	background-color: #D7D7D7;
}
header {
	height: 50px;
}
header a {
	font-size: 20px;
	line-height: 50px;
	color: #3C3C3C;
	text-decoration: none;
}
header a:hover {
	border-bottom: solid 2px #64a3aa;
}
.center p {
	display: inline-block;
	border-bottom: solid 5px #64a3aa;
	font-size: 14px;
}
#top_top {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#top_top h3 {
	font-size: 32px;
	border-bottom: solid 8px #08585a;
}
.center {
	text-align: center;
}
h2 {
	font-size: 28px;
	border-left: solid 5px #64a3aa;
}
.main {
	margin-left: 10px;
}
.main_image_center {
	display: inline-block;
	border-bottom: solid 5px #c3dee7;
	height: 50px;
}
.main_image_center h3 {
	line-height: 50px;
	display: inline-block;
}
.icon {
	border-radius: 15px;
}
footer {
	height: 100px;
	background-color: #2B2B2B;
}
footer p {
	color: white;
	text-align: center;
}
.link_a a {
	color: #3C3C3C;
	text-decoration: none;
}
.link_a a:hover {
	border-bottom: solid 2px #64a3aa;
}
@media screen and (max-width: 959px) {
	body {
		margin: 0 10% 0 10%;
	}
}
@media screen and (max-width: 480px) {
	body {
		margin: 0;
	}
}